[run]
omit =
    */tests/*
    */test_*
    conftest.py
    tests/*
    joinmarket-clientserver/*

[report]
omit =
    */tests/*
    */test_*
    conftest.py
    tests/*
    joinmarket-clientserver/*
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
